
/*
|-----------------------------------------------------------------------------
| Outline
|-----------------------------------------------------------------------------
*/


.outline-none {
  outline: none;
}



/*
|-----------------------------------------------------------------------------
| Object Fit
|-----------------------------------------------------------------------------
*/


.cover {
  object-fit: cover;
}

/*
|-----------------------------------------------------------------------------
| Overflow
|-----------------------------------------------------------------------------
*/

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

/*
|-----------------------------------------------------------------------------
| Scrollbar Styles -- Only works on webkit browsers
|-----------------------------------------------------------------------------
*/



div.scroll-invisible::-webkit-scrollbar,
a.scroll-invisible::-webkit-scrollbar,
 {
	display: none;
}


/*
|-----------------------------------------------------------------------------
| hover:Display
|-----------------------------------------------------------------------------
*/

.hover\:block:hover {
  @apply .block;
}

.hover\:inline-block:hover {
  @apply .inline-block;
}



/*
|-----------------------------------------------------------------------------
| Transparent Background Colors
|-----------------------------------------------------------------------------
*/

.bg-grey-80 {
	background-color: color(config('colors.grey') a(80%));
}



/*
|-----------------------------------------------------------------------------
| Page Size
|-----------------------------------------------------------------------------
*/

:root {
  --page-max: 1006px;
}

.w-full-desk {
  width: var(--page-max);
}

.min-w-full-desk {
  min-width: var(--page-max);
}

.max-w-full-desk {
  max-width: var(--page-max);
}



/*
|-----------------------------------------------------------------------------
| Transform
|-----------------------------------------------------------------------------
*/

.transform-x-center {
	left: 50%;
  transform: translateX(-50%);
}

.transform-y-center {
	top: 50%;
	transform: translateY(-50%);
}

.transform-xy-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.text-capitalize {
  text-transform: capitalize;
}


/*
|-----------------------------------------------------------------------------
| Transitions
|-----------------------------------------------------------------------------
*/

.transition-500 {
  transition: 500ms ease;
}
