body {
  @apply .antialiased .font-sans .scrolling-touch;
  color: var(--color-text-primary);
  text-rendering: optimizeLegibility;
  line-height: 1.15;
}

a {
  @apply .cursor-pointer .no-underline;
}

ul {
  @apply .list-reset;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  @apply .p-0 .text-left;
}

.link, .link:active, .link:focus, .link:hover, .link:link, .link:visited {
  transition: color 0.15s ease-in;
}
