body {
  @apply .bg-black-true;
}

.music-link-first:first-child {
  padding-top: 0;
}

.page-padding-top {
  @apply .pt-8;
}

.ux-hover:hover {
  opacity: .75;
}

.ux-click:active {
  background-color: black;
}

.links-social {
  @apply .pt-2 .pb-2 .text-xl .px-5;
}

.pages-container {
  @apply .pt-8 .h-full;
}

.bio-p p {
  @apply .pb-2;
  line-height: 1.35;
}
